* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    padding: 15px;
    width: 300;
    display: flex;
    flex-direction: column;
}
h1{
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    width: fit-content;
}
img {
    display: block;
    margin: 20px auto;
    width: 50px;
}
button{
    margin: 20px auto;
    margin-top: 0;
    width: 75px;
    height: 40px;
    text-align: center;
}
h2{
    margin: auto;
}
#url{
    margin: auto;
    overflow-wrap: anywhere;
    text-align: center;
}

#disable-css-btn {
    width: 100px;
    height: 50px;
    background-color: #ffffff00;
    border: #9dcbf0 solid 1px;
    transform: scaleX(-1);
}
#disable-css-btn:active {
    /* background-color: #dff0ff; */
    transition: scale 0.1s;
    scale: 90%;
    
}